# Data Collections 2 (Dictionaries, Sets)

## Tasks Today:

1) Dictionary <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring (key, value) <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accessing Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #1 - Print the eye color of each person in a double nested dict <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Adding New Pairs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Modifying Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Removing Key, Value Pairs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Looping a Dictionary <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Looping Only Keys <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Looping Only Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #2 - Create a Function that Prints All Key Value Pairs within a print .format()  <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) sorted() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Lists with Dictionaries <br>
 &nbsp;&nbsp;&nbsp;&nbsp; k) Dictionaries with Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; l) Dictionaries with Dictionaries <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #3 - Write a Function that asks someone's name and address, and then stores that into a dictionary, which prints all names and addresses after they're done putting information in...  <br>
2) Dictionaries vs. Lists (over time)<br>
3) Set <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) .add() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .union() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .intersection() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .difference() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Frozen Set <br>

5) Exercises <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Address Book Program <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Best Times to Meet <br>

Electric Company
Create a function that takes a list that represents street lights given as a parameter called(l_street). Determine if an outage has occurred. 
A street with a total number of "F"s greater than or equal to 2 returns "Outage", anything below returns "Power"

Example Input: [ 'T', 'F', 'F', 'F' ]
Example Output: "Outage"

Example Input: [ 'T', 'T', 'F', 'F' ]
Example Output: "Outage"

Example Input: [ 'T', 'T', 'T', 'F' ]
Example Output: "Power"

In [10]:
def street_lights(l_street):
    num_outages = 0
    for light in l_street:
        if light == 'F':
            num_outages += 1
            if num_outages >= 2:
                return 'Outage'
    return 'Power'

print(street_lights(['T', 'F', 'F', 'F']))

Outage

In [7]:
def street(l_street):
    return 'Outage' if l_street.count('F') >= 2 else 'Power'
    
street(['T', 'T', 'F', 'F', 'T'])

'Outage'

In [9]:
def can_vote(birth_year):
    return 2022 - birth_year >= 18

can_vote(2010)

False

#### Warm Up

Given the list `address_book`, create a function that accepts a name (first or last or both) and returns the phone number of that name in the `address_book`. If the name is not in `address_book`, return -1.<br>

Ex. 1<br>
name = 'Hank'<br>
Expected Output: '(555) 555-1234'<br>

Ex. 2<br>
name = 'Tevin'<br>
Expected Output: '(333) 333-3245'<br>

Ex. 3<br>
name = 'Brian'<br>
Expected Output: -1<br>

In [15]:
address_book = [
    ('Hank', 'Mardukas', '123 Real Street', '(555) 555-1234'),
    ('Peter', 'Klaven', '321 Fake Street', '(555) 555-4321'),
    ('Sydney', 'Fife', '555 Santa Monica Drive', '(222) 222-6789'),
    ('Tevin', 'Downey', '100 Rodeo Blvd', '(333) 333-3245'),
    ('Robby', '', '', '(453) 323-2352')
]


def get_phone_number(name):
    for address in address_book:
        if address[0] == name:
            return address[3]
    return -1

get_phone_number('Robby')

'(453) 323-2352'

## Dictionary <br>
<p>A collection of data with 'key:value' pairs. Dictionaries are ordered as of Python 3.6</p>

##### Declaring (key, value)

In [18]:
# Syntax: a_dict = {} or a_dict = dict() or a_dict = {'key': value, ...}

d1 = {}

print(d1)
print(type(d1))

d2 = dict()
print(d2)
print(type(d2))


d3 = {
    'Hank': '123 Real Street',
    'Peter': '321 Fake Street',
    'Sydney': '555 Santa Monica Blvd',
    'Tevin': '100 Rodeo Drive'
}
print(d3)
print(type(d3))

{}
<class 'dict'>
{}
<class 'dict'>
{'Hank': '123 Real Street', 'Peter': '321 Fake Street', 'Sydney': '555 Santa Monica Blvd', 'Tevin': '100 Rodeo Drive'}
<class 'dict'>

In [20]:
a_list = ['Hank', 'Peter', 'Sydney', 'Tevin']

print(a_list[2])

Sydney

##### Accessing Values

In [21]:
d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Tevin': '100 Rodeo Drive'}

In [22]:
# dict[key]

print(d3['Hank'])

123 Real Street

In [23]:
print(d3['Tevin'])

100 Rodeo Drive

In [24]:
print(d3['Brian']) # KeyError

KeyError: 'Brian'

##### .get()

In [25]:
help(dict.get)

Help on method_descriptor:

get(self, key, default=None, /)
    Return the value for key if key is in the dictionary, else default.

In [30]:
# dict.get('key') or dict.get('key', value_if_no_key)
print(d3.get('Peter'))
print(d3.get('Brian'))
print(d3.get('Brian', 'No Address Available'))

321 Fake Street
None
No Address Available

## In-Class Exercise #1 - Print a formatted statement from the dictionary below <br>
<p>The output should be 'My favorite car is a 2018 Chevrolet Silverado'</p>

In [31]:
# use the dict below
truck = {
    'year': 2018,
    'make': 'Chevrolet',
    'model': 'Silverado'
}

print(f"My favorite car is a {truck.get('year')} {truck.get('make')} {truck.get('model')}")

My favorite car is a 2018 Chevrolet Silverado

##### Adding New Pairs

In [32]:
d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Tevin': '100 Rodeo Drive'}

In [33]:
# dict[key] = value
d3['Zooey'] = '146 Main Street'

d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Tevin': '100 Rodeo Drive',
 'Zooey': '146 Main Street'}

In [63]:
name = 'Brian'

d3[name] = '555 Circle Drive'

d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Zooey': '321 Fake Street',
 'Brian': '555 Circle Drive'}

##### Modifying Values

In [62]:
# dict[key] = value
d3['Zooey'] = '321 Fake Street'

d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Zooey': '321 Fake Street'}

##### Removing Key, Value Pairs

In [58]:
# del dict[key]

del d3['Tevin']

d3

KeyError: 'Tevin'

In [59]:
del d3['Brian'] # KeyError

In [60]:
help(dict.pop)

Help on method_descriptor:

pop(...)
    D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
    If key is not found, d is returned if given, otherwise KeyError is raised

In [61]:
# dict.pop('key')

removed_value = d3.pop('Zooey')

print(removed_value)

d3

321 Fake Street

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd'}

In [51]:
d3['Zooey'] = removed_value
d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Zooey': '321 Fake Street'}

##### Looping a Dictionary

In [64]:
help(dict.items)

Help on method_descriptor:

items(...)
    D.items() -> a set-like object providing a view on D's items

In [65]:
# .items() 

print(d3.items())


for item in d3.items():
    print(item, type(item))

dict_items([('Hank', '123 Real Street'), ('Peter', '321 Fake Street'), ('Sydney', '555 Santa Monica Blvd'), ('Zooey', '321 Fake Street'), ('Brian', '555 Circle Drive')])
('Hank', '123 Real Street') <class 'tuple'>
('Peter', '321 Fake Street') <class 'tuple'>
('Sydney', '555 Santa Monica Blvd') <class 'tuple'>
('Zooey', '321 Fake Street') <class 'tuple'>
('Brian', '555 Circle Drive') <class 'tuple'>

In [66]:
for key, value in d3.items():
    print(key, value)

Hank 123 Real Street
Peter 321 Fake Street
Sydney 555 Santa Monica Blvd
Zooey 321 Fake Street
Brian 555 Circle Drive

##### Looping Only Keys

In [67]:
# .keys()

for element in d3:
    print(element)
    
print('='*20)

print(d3.keys())

print('='*20)

for key in d3.keys():
    print(key)

Hank
Peter
Sydney
Zooey
Brian
====================
dict_keys(['Hank', 'Peter', 'Sydney', 'Zooey', 'Brian'])
====================
Hank
Peter
Sydney
Zooey
Brian

##### Looping Only Values

In [69]:
# .values()
print(d3.values())

for val in d3.values():
    print(val)

dict_values(['123 Real Street', '321 Fake Street', '555 Santa Monica Blvd', '321 Fake Street', '555 Circle Drive'])
123 Real Street
321 Fake Street
555 Santa Monica Blvd
321 Fake Street
555 Circle Drive

In [74]:
help(dict.update)

Help on method_descriptor:

update(...)
    D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
    If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
    If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
    In either case, this is followed by: for k in F:  D[k] = F[k]

In [73]:
a = {'a': 123}
b = {'a': 456}

a.update(b)

print(a)

{'a': 456}

## In-Class Exercise #2 - Create a Function that Prints All Key Value Pairs within a print .format() <br>
<p><b>Output should be:</b><br>
Max has blue eyes<br>
Lilly has brown eyes<br>
Barney has blue eyes<br>
etc.
</p>

In [75]:
# use the dict below

people = {
    'Max': 'blue',
    'Lilly': 'brown',
    'Barney': 'blue',
    'Larney': 'brown',
    'Ted': 'purple'
}


for key, val in people.items():
    print(f"{key} has {val} eyes.")

Max has blue eyes.
Lilly has brown eyes.
Barney has blue eyes.
Larney has brown eyes.
Ted has purple eyes.

In [78]:
for key in people:
    print(f"{key} has {people[key]} eyes.")

Max has blue eyes.
Lilly has brown eyes.
Barney has blue eyes.
Larney has brown eyes.
Ted has purple eyes.

In [79]:
for key in people:
    print(f"{key} has {people.get(key)} eyes.")

Max has blue eyes.
Lilly has brown eyes.
Barney has blue eyes.
Larney has brown eyes.
Ted has purple eyes.

In [80]:
def output_people():
    for key, val in people.items():
        yield f'{key} has {val} eyes'

In [82]:
my_people_eyes = output_people()

my_people_eyes

In [88]:
next(my_people_eyes)

StopIteration:

##### List with Dictionaries

In [89]:
# Get all keys from nested dictionary in a list
my_list = [1, 2, 3, 'hello', 'goodbye', {'a': 123, 'b': 456}]

print(my_list)

[1, 2, 3, 'hello', 'goodbye', {'a': 123, 'b': 456}]

In [97]:
print(my_list[5], type(my_list[5]))
print(my_list[5]['a'])
print(my_list[5].get('b'))

print(my_list[5].items())

{'a': 123, 'b': 456} <class 'dict'>
123
456
dict_items([('a', 123), ('b', 456)])

In [105]:
# List of dictionaries

movies = [
    {'title': 'Inception', 'director': 'Christopher Nolan', 'release_year': 2010},
    {'title': 'The Social Network', 'director': 'David Fincher', 'release_year': 2010},
    {'title': 'The Departed', 'director': 'Martin Scorsese', 'release_year': 2006},
    {'release_year': 2019, 'title': 'Parasite', 'director': 'Bong Joon Ho'}
]

print(movies)
print(type(movies))

[{'title': 'Inception', 'director': 'Christopher Nolan', 'release_year': 2010}, {'title': 'The Social Network', 'director': 'David Fincher', 'release_year': 2010}, {'title': 'The Departed', 'director': 'Martin Scorsese', 'release_year': 2006}, {'release_year': 2019, 'title': 'Parasite', 'director': 'Bong Joon Ho'}]
<class 'list'>

In [112]:
for movie in movies:
    print(f"Title: {movie.get('title')} - Directed By: {movie.get('director')} - {movie['release_year']}")

Title: Inception - Directed By: Christopher Nolan - 2010
Title: The Social Network - Directed By: David Fincher - 2010
Title: The Departed - Directed By: Martin Scorsese - 2006
Title: Parasite - Directed By: Bong Joon Ho - 2019

##### Dictionaries with Lists

In [117]:
# be careful when using numbers as keys in dictionaries, don't confuse them with indexes
random_data = {
    'list1': [23, 543, 456, 32],
    0: ['a', 'b', 'c']
}

print(random_data)
print(random_data[0]) # this is not index-0 - this is accessing the key 0
print(random_data['list1'], type(random_data['list1']))
print(random_data['list1'][1])

{'list1': [23, 543, 456, 32], 0: ['a', 'b', 'c']}
['a', 'b', 'c']
[23, 543, 456, 32] <class 'list'>
543

In [118]:
nums = [1, 2, 2, 3, 4, 5, 3, 2, 3, 5, 6, 3, 2, 2, 4, 5, 6]

count = {}

for num in nums:
    if num in count:
        count[num] += 1
    else:
        count[num] = 1
        
count

{1: 1, 2: 5, 3: 4, 4: 2, 5: 3, 6: 2}

##### Dictionaries with Dictionaries

In [125]:
# to get values, must traverse through keys

my_shoppe = {
    'ice_cream': {
        'vanilla': 2.99,
        'chocolate': 2.99,
        'oreo': 2.49
    },
    'milkshake': {
        'vanilla': 3.99,
        'chocolate': 3.99,
        'oreo': 4.49
    }
}

print(my_shoppe)
print(my_shoppe.keys())
print(my_shoppe['ice_cream'], type(my_shoppe['ice_cream']))
print(my_shoppe['ice_cream']['oreo'])
print(my_shoppe.get('milkshake').get('chocolate'))

{'ice_cream': {'vanilla': 2.99, 'chocolate': 2.99, 'oreo': 2.49}, 'milkshake': {'vanilla': 3.99, 'chocolate': 3.99, 'oreo': 4.49}}
dict_keys(['ice_cream', 'milkshake'])
{'vanilla': 2.99, 'chocolate': 2.99, 'oreo': 2.49} <class 'dict'>
2.49
3.99

In [126]:
print(my_shoppe['vanilla'])

KeyError: 'vanilla'

## In-Class Exercise #3 - Job Applicants
<p>You are tasked with determining if an applicant has enough experience for a position. The position requires that the applicant has a Python proficiency of at least 7. Write a function that accepts a job application dictionary and returns a boolean</p>
<p>All job application dictionaries will have the same structure:</p>

In [ ]:
# {
#     'full_name': str,
#     'email': str,
#     'prog_languages': [
#         {
#             'name': str,
#             'proficiency': int,
#         },
#     ],
#     'experience': [
#         {
#             'company': str,
#             'position': str,
#             'years_at_company': [int]
#         },
#     ],
#     'us_citizen': bool
# }

In [127]:
job_app1 = {
    'full_name': 'Jimmy Smith',
    'email': 'jsmith@email.com',
    'prog_languages': [
        {
            'name': 'Python',
            'proficiency': 8
        },
        {
            'name': 'JavaScript',
            'proficiency': 5
        }
    ],
    'experience': [
        {
            'company': 'Omnicorp',
            'position': 'bossman',
            'years_at_company': [2010, 2011, 2012, 2013]
        },
        {
            'company': 'AlphaInc',
            'position': 'QA',
            'years_at_company': [2014, 2015]
        }
    ],
    'us_citizen': True
}

job_app2 = {
    'full_name': 'Carmen Ferguson',
    'us_citizen': True,
    'experience': [
        {
            'company': 'Zeta',
            'position': 'Front-End Developer',
            'years_at_company': [2017, 2018]
        },
        {
            'company': 'Tech & Tech Inc.',
            'position': 'Senior Front End',
            'years_at_company': [2019, 2020, 2021]
        }
    ],
    'email': 'carmenf@myspace.com',
    'prog_languages': [
        {
            'name': 'Python',
            'proficiency': 4
        },
        {
            'name': 'JavaScript',
            'proficiency': 6
        }
    ]
}

In [155]:
def is_viable(job_app):
    for language in job_app['prog_languages']:
        if language['name'] == 'Python' and language['proficiency'] >= 7:
            return True
    return False

In [156]:
is_viable(job_app1) # True

True

In [157]:
is_viable(job_app2) # False

False

## Dictionaries vs. Lists (over time) Example of RUNTIME
### When inputting values in a Dictionary vs List

In [176]:
import time


# generate fake dictionary

d = {i:'value' for i in range(10000000)}

# generate fake list
big_list = [x for x in range(10000000)]

In [177]:
time.time()

1670531516.8069172

In [179]:
# tracking time for set
start_time = time.time()

print(9999999 in d)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for dictionary: {elapsed_time}')


# tracking time for list
start_time = time.time()

print(9999999 in big_list)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for list: {elapsed_time}')

True
Elapsed time for dictionary: 0.0
True
Elapsed time for list: 0.4338562488555908

## Set <br>
<p>A Set is an unordered collection data type that is iterable (loop), mutable, and has no duplicate elements.<br>Major advantage is that it is highly optimized in checking if something is in the set, as opposed to checking if something is in a list.</p>

##### Declaring

In [180]:
# set() or {val,}
# no order {3, 2, 1} outputs as {1, 2, 3}

first_set = set()

print(first_set)
print(type(first_set))

set()
<class 'set'>

In [182]:
empty_set = {} # THIS WILL CREATE A DICTIONARY
print(empty_set)
print(type(empty_set))

{}
<class 'dict'>

In [187]:
second_set = {3, 2, 1}
print(second_set)
print(type(second_set))

{1, 2, 3}
<class 'set'>

In [184]:
third_set = {1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4, 4}

print(third_set)

{1, 2, 3, 4}

In [185]:
set_of_strings = {'a', 'a', 'b', 'c'}
print(set_of_strings)

{'a', 'b', 'c'}

##### .add()

In [202]:
# set.add(value) => add the value to the set
third_set.add(56)

print(third_set)

{1, 2, 3, 4, 56}

##### .remove()

In [203]:
# removes by value
# set.remove(val_to_remove) -> removes the val_to_remove from the set

third_set.remove(3)
print(third_set)

{1, 2, 4, 56}

In [204]:
# Sets are iterable
for value in third_set:
    print(value)

1
2
4
56

In [206]:
for x in enumerate(third_set):
    print(x)

(0, 1)
(1, 2)
(2, 4)
(3, 56)

##### .union()

In [207]:
help(set.union)

Help on method_descriptor:

union(...)
    Return the union of sets as a new set.

    (i.e. all elements that are in either set.)

In [211]:
# Returns a union of two sets, can also use '|' or set.union(set)
# joins all numbers, gets rid of duplicates
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}

s3 = s1.union(s2)
print(s3)

# OR

s4 = s2 | s1
print(s4)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

##### .intersection()

In [212]:
help(set.intersection)

Help on method_descriptor:

intersection(...)
    Return the intersection of two sets as a new set.

    (i.e. all elements that are in both sets.)

In [217]:
# Returns an intersection of two sets, can also use '&'
# only takes similar elements from both sets

s5 = s2.intersection(s1)
print(s5)

# OR

s6 = s2 & s1
print(s6)

{3, 4}
{3, 4}

##### .difference()

In [218]:
help(set.difference)

Help on method_descriptor:

difference(...)
    Return the difference of two or more sets as a new set.

    (i.e. all elements that are in this set but not the others.)

In [222]:
# Returns a set containing all the elements of invoking set that are not in the second set, can also use '-'
# only takes values from the first set that are not in the second set
# order matters
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}


s7 = s1.difference(s2)
print(s7)

s8 = s2.difference(s1)
print(s8)


# OR

s9 = s1 - s2
print(s9)

s10 = s2 - s1
print(s10)

{1, 2}
{5, 6}
{1, 2}
{5, 6}

##### .clear()

In [224]:
# Empties the whole set
# set.clear()

nums = {12, 34, 56, 78, 90}

print(nums)

nums.clear()

print(nums)

{34, 12, 78, 56, 90}
set()

In [227]:
list_set = set([1, 2, 2, 3, 4, 4, 5, 5, 6, 7])
print(list_set)
string_set = set('hello world')
print(string_set)

{1, 2, 3, 4, 5, 6, 7}
{'r', 'e', 'l', ' ', 'h', 'd', 'w', 'o'}

##### Frozenset <br>
<p>Frozen sets are immutable objects that only support methods and operators that produce a result without affecting the frozen set or sets to which they are applied.</p><br><b>Unique & Immutable</b>

In [228]:
# frozenset([])
my_frozenset = frozenset({1, 2, 3, 4, 5})
print(my_frozenset)
print(type(my_frozenset))

frozenset({1, 2, 3, 4, 5})
<class 'frozenset'>

In [229]:
my_frozenset.add(10)

AttributeError: 'frozenset' object has no attribute 'add'

In [232]:
new_dict = {
    'hello': 123,
    (1, 2): 456,
    frozenset({'a', 'b'}): 'value for frozenset'
}

print(new_dict)

{'hello': 123, (1, 2): 456, frozenset({'a', 'b'}): 'value for frozenset'}

In [233]:
print(new_dict.get(frozenset({'a', 'b'})))

value for frozenset

In [235]:
list_comp = [i for i in range(10)]
print(list_comp)
set_comp = {i for i in range(10)}
print(set_comp)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

## Sets vs. Lists (over time) Example of RUNTIME
### When inputting values in a Set vs List

In [236]:
import time
# generate fake set
big_set = {i for i in range(10000000)}
    

# generate fake list
big_list = [x for x in range(10000000)]

In [239]:
# tracking time for set
start_time = time.time()

print(9999999 in big_set)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for set: {elapsed_time}')


# tracking time for list
start_time = time.time()

print(9999999 in big_list)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for list: {elapsed_time}')

True
Elapsed time for set: 0.0007638931274414062
True
Elapsed time for list: 0.5273559093475342

In [242]:
def count_vowels(sentence):
    vowels = {'a', 'e', 'i', 'o', 'u'}
    count = 0
    for letter in sentence:
        if letter in vowels:
            count += 1
    return count

count_vowels('The quick brown fox jumped over the lazy dog')

12

# Exercises

### 1) Create a program that allows a user to continue to add people to an address book until the user quits. Once the user quits, break out of the loop and print out the name and address of everyone in the address book

###### Steps
1. Create a function that will ask user for name and addresses and stores them in a dictionary
2. Define an empty dictionary with which to work (global or local variable?)
3. Begin a loop that will continue to ask a user for information until the user "quits"
4. If the user does not quit, ask for a name and address and store the variables into variables
5. Add information to the dictionary with name as the key and address as the value
6. If the user does quit, end the loop
7. Print out the information from the dictionary in a formatted way
8. Execute/Call the function

### 2) Best Time to Meet

Billy is trying to figure out if there is a time that he and his team can meet to work on the project. His three teammates each give him a list of times they are available ('HH:MM' 24-hour). Create a function that will take in an original list plus any number of lists of teammate's available times (*remember \*args*) and return a list of times where everyone can meet.

In [ ]:
person1 = ['09:00', '10:30', '11:30', '12:00', '13:00', '14:30']
person2 = ['09:30', '10:00', '10:30', '12:00', '14:30', '16:00']
person3 = ['09:00', '09:30', '11:00', '11:30', '12:00', '13:30', '14:30', '15:00']
person4 = ['11:00', '11:30', '12:00', '14:00', '14:30', '16:30', '17:00']
# Available Times: '12:00' and '14:30'